<h1 class="bg-dark text-white text-center my-4 py-4">Rutas Dinamicas y Servicios</h1>
<p class="alert alert-secondary">
  Los servios nos sirven para consumir informacion que este disponible en todo nuestro sitio web, en este caso usamos "<b>ngFor</b>"
  para acceder a un servicio externo llamado "<b>equipo</b>".<br><br>
  Para ello se ha creado el servicio "<b>equipo.service</b>", donde hemos creado los datos y se ha creado una funcion llamada
  "<b>obtenerEquipo()</b>" para devolver todos sus datos.<br><br>
  
  Este servicio se ha importado en "<b>rutasyservicios.ts</b>" 
  y se ha llamado desde aqui a la funcion "<b>obtenerEquipo()</b>".<br><br>

  Por otro lado hemos utilizado "<b>[routerLink]="['/detalleequipo',i]"</b>" en el enlace para hacer rutas dinamicas.<br><br>

  Para realizar estas rutas dinamicas hemos tenido que importar en el "<b>app.module.ts</b>" el componente
  "<b>RouterModule</b>"
  y "<b>Routes</b>" desde "<b>@angular/router</b>".<br><br>
  
  Se ha declarado un array "<b>routes</b>" conteniendo este, el array importado "<b>Routes</b>" y añadiendo todas
  las rutas necesarias en forma de objetos.<br><br>
  
  Entre ellas se define la dinamica la cual definimos "<b>path: 'detalleequipo/:id', component:
    DetalleequipoComponent</b>".
  
  Finalmente en el "<b>@NgModules</b>" añadimos en "<b>imports</b>" el metedo con la variable que hemos definido de rutas
  "<b>RouterModule.forRoot(routes)</b>"
</p>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of equipo, index as i">
    <h6>Nombre: {{item.nombre}}</h6>
    <h6>Especialidad: {{item.especialidad}}</h6>
    <a [routerLink]="['/detalleequipo',i]">Leer más...</a>
  </li>
</ul>

<pre class="border border-dark bg-light my-5">

   &lt;ul class="list-group"&gt;
     &lt;li class="list-group-item" <b>*ngFor="let item of equipo, index as i"</b>&gt;
       &lt;h6&gt;Nombre: <b>item.nombre</b> &lt;/h6&gt;
       &lt;h6&gt;Especialidad: <b>item.especialidad</b> &lt;/h6&gt;
       &lt;a <b>[routerLink]="['/detalleequipo',i]"</b>&gt;Leer más... &lt;/a&gt;
     &lt;/li&gt;
   &lt;/ul&gt;

</pre>