
<h1 class="bg-dark text-white text-center my-4 py-4">Ruta Dinamica {{equipo.nombre}}</h1>

<div class="mt-5">
  <h3>Nombre: {{equipo.nombre}}</h3>
  <p>Especialidad: {{equipo.especialidad}}</p>
  <p>descripcion: {{equipo.descripcion}}</p>
  <a [routerLink]="['/rutasyservicios']">Volver a la lista</a>
</div>
<pre class="border border-dark bg-light my-5">

  &lt;div class="mt-5"&gt;
    &lt;h3&gt;Nombre: <b>equipo.nombre</b>&lt;/h3&gt;
    &lt;p&gt;Especialidad: <b>equipo.especialidad</b>&lt;/p&gt;
    &lt;p&gt;descripcion: <b>equipo.descripcion</b>&lt;/p&gt;
    &lt;a <b>[routerLink]="['/rutasyservicios']"</b>&gt;Volver a la lista &lt;/a&gt;
  &lt;/div&gt;

</pre>